body {
  font-family: Muli, sans-serif;
  color: #333;
  font-size: 17px;
  line-height: 1.45em;
  font-weight: 300;
}

h1 {
  margin-top: 20px;
  margin-bottom: 0.5em;
  font-size: 2.074em;
  line-height: 1.2em;
  font-weight: 300;
}

h2 {
  margin-top: 20px;
  margin-bottom: 0.5em;
  font-size: 1.728em;
  line-height: 1.2em;
  font-weight: 200;
}

h3 {
  margin-top: 20px;
  margin-bottom: 0.5em;
  font-size: 1.44em;
  line-height: 1.2em;
  font-weight: 200;
}

h4 {
  margin-top: 10px;
  margin-bottom: 0.5em;
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 200;
}

p {
  margin-bottom: 1.5em;
}

ul {
  margin-top: 0px;
  margin-bottom: 1.5em;
  padding-left: 20px;
}

li {
  margin-bottom: 0.5em;
}

.section-minvh {
  min-height: 100vh;
}

.bg-white {
  background-color: #fff;
}

.bg-grey {
  background-color: #b8c2cc;
}

.bg-grey-light {
  background-color: #dae1e7;
}

.bg-grey-lighter {
  background-color: #f1f5f8;
}

.bg-grey-lightest {
  background-color: #f8fafc;
}

.bg-grey-dark {
  background-color: #8795a1;
}

.bg-grey-darker {
  background-color: #606f7b;
}

.bg-grey-darkest {
  background-color: #3d4852;
}

.bg-black {
  background-color: #22292f;
  color: #999;
}

.mx-560 {
  display: block;
  width: 560px;
  margin-right: auto;
  margin-left: auto;
}

.padding-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dae1e7;
  background-color: transparent;
}

.btn-submit {
  width: 100%;
  height: 50px;
  border-style: solid;
  border-width: 1px 1px 3px;
  border-color: #38a89d;
  border-radius: 4px;
  background-color: #4dc0b5;
  -webkit-transition: background-color 650ms ease;
  transition: background-color 650ms ease;
  font-size: 14px;
  font-weight: 300;
}

.btn-submit:hover {
  background-color: #38a89d;
}

.input-normal {
  height: 50px;
  border: 1px solid #dae1e7;
  border-radius: 4px;
  color: #3d4852;
}

.input-normal::-webkit-input-placeholder {
  color: #8795a1;
}

.input-normal:-ms-input-placeholder {
  color: #8795a1;
}

.input-normal::placeholder {
  color: #8795a1;
}

.home-header {
  font-weight: 400;
}

.nav-link {
  -webkit-transition: color 650ms ease;
  transition: color 650ms ease;
  color: #b8c2cc;
  font-size: 16px;
}

.nav-link:hover {
  color: #000;
}

.brand-text {
  margin-top: 15px;
  margin-bottom: 10px;
}

.mx-640 {
  display: block;
  width: 640px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.45em;
}

.padding-20-centered {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.post-header {
  margin-bottom: 0em;
  font-size: 2.074em;
  font-weight: 800;
}

.btn-dark {
  margin-bottom: 0.5em;
  padding-right: 40px;
  padding-left: 40px;
  border: 1px solid #8795a1;
  border-radius: 4px;
  background-color: #8795a1;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.btn-dark:hover {
  background-color: #22292f;
}

.btn-dark.bg-grey-dark {
  padding-right: 50px;
  padding-left: 50px;
  border-style: solid;
  border-width: 1px 1px 3px;
  border-color: #606f7b;
  border-radius: 5px;
}

.btn-dark.pull-right {
  float: right;
}

.post-author {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.form-centered {
  display: block;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.blue-topbar {
  height: 6px;
  background-color: #3490dc;
}

.padding-sides-60 {
  padding: 60px;
}

.mx-left-560 {
  width: 560px;
}

.image {
  border-radius: 50%;
  -webkit-transition: -webkit-transform 650ms ease;
  transition: -webkit-transform 650ms ease;
  transition: transform 650ms ease;
  transition: transform 650ms ease, -webkit-transform 650ms ease;
}

.image:hover {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.article-header {
  -webkit-transition: color 650ms ease;
  transition: color 650ms ease;
  color: #8795a1;
  font-size: 1.728em;
  line-height: 1.45em;
  text-decoration: none;
}

.article-header:hover {
  color: #22292f;
}

.get-post-info {
  margin-bottom: 2em;
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12);
}

.page-post-heading {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 600;
  text-align: center;
}

.input-select {
  height: 50px;
  border: 1px solid #dae1e7;
  border-radius: 4px;
  color: #3d4852;
}

.mx-640-centered {
  display: block;
  width: 640px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.45em;
  text-align: center;
}

.construct_image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.5;
}

.gms_image {
  padding-top: 15px;
  opacity: 0.5;
}

.unity_image {
  padding-top: 10px;
  opacity: 0.5;
}

.godot_image {
  opacity: 0.5;
}

.padding-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.get-post-content {
  margin-bottom: 2em;
  padding: 40px 20px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12);
}

@media (max-width: 991px) {
  .nav-link {
    background-color: #fff;
  }
  .menu-button.w--open {
    background-color: transparent;
    color: #000;
  }
}

@media (max-width: 767px) {
  .mx-560 {
    width: auto;
  }
  .padding-20 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .btn-submit {
    width: 100%;
  }
  .mx-640 {
    width: auto;
  }
  .padding-20-centered {
    padding-right: 20px;
    padding-left: 20px;
  }
  .mx-left-560 {
    width: auto;
  }
  .mx-640-centered {
    width: auto;
  }
  .construct_image {
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
  }
  .unity_image {
    padding-top: 0px;
  }
}

@media (max-width: 479px) {
  .menu-button {
    display: block;
    float: right;
    text-align: center;
  }
  .brand {
    float: left;
    font-size: 14px;
    text-align: center;
  }
  .padding-20-centered {
    padding-right: 10px;
    padding-left: 10px;
  }
  .btn-dark.pull-right {
    float: none;
  }
  .form-centered {
    width: auto;
  }
  .unity_image {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

