body {
  font-family: Muli, sans-serif;
  color: #333;
  font-size: 17px;
  line-height: 1.45em;
  font-weight: 300;
}

h1 {
  margin-top: 20px;
  margin-bottom: 0.5em;
  font-size: 2.074em;
  line-height: 1.2em;
  font-weight: 300;
}

h2 {
  margin-top: 20px;
  margin-bottom: 0.5em;
  font-size: 1.728em;
  line-height: 1.2em;
  font-weight: 200;
}

h3 {
  margin-top: 20px;
  margin-bottom: 0.5em;
  font-size: 1.44em;
  line-height: 1.2em;
  font-weight: 200;
}

h4 {
  margin-top: 10px;
  margin-bottom: 0.5em;
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 200;
}

p {
  margin-bottom: 1.5em;
}

a {
  color: #008eff;
  text-decoration: underline;
}

ul {
  margin-top: 0px;
  margin-bottom: 1.5em;
  padding-left: 20px;
}

li {
  margin-bottom: 0.5em;
}

blockquote {
  margin-top: 10px;
  margin-bottom: 1em;
  padding: 10px 20px;
  border-left: 10px solid #22292f;
  border-radius: 0px;
  background-color: #f8fafc;
  box-shadow: 0 2px 8px 0 rgba(34, 41, 47, .12);
  color: #8795a1;
  font-size: 17px;
  line-height: 1.45em;
  font-weight: 300;
}

.section-minvh {
  min-height: 100vh;
}

.bg-white {
  background-color: #fff;
}

.bg-grey {
  background-color: #b8c2cc;
}

.bg-grey-light {
  background-color: #dae1e7;
}

.bg-grey-lighter {
  background-color: #f1f5f8;
}

.bg-grey-lightest {
  background-color: #f8fafc;
}

.bg-grey-dark {
  background-color: #8795a1;
}

.bg-grey-darker {
  background-color: #606f7b;
}

.bg-grey-darkest {
  background-color: #3d4852;
}

.bg-black {
  background-color: #22292f;
  color: #999;
}

.padding-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-20.bg-grey-darker {
  background-color: #22292f;
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid rgba(52, 144, 220, .12);
  background-color: transparent;
}

.btn-submit {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #9e3a00;
  border-radius: 6px;
  background-color: #d64e00;
  -webkit-transition: background-color 350ms ease;
  transition: background-color 350ms ease;
  color: #f5efec;
  font-size: 14px;
  font-weight: 600;
}

.btn-submit:hover {
  background-color: #ff5d00;
}

.input-normal {
  height: 50px;
  border: 1px solid #dae1e7;
  border-radius: 4px;
  color: #3d4852;
}

.input-normal::-webkit-input-placeholder {
  color: #8795a1;
}

.input-normal:-ms-input-placeholder {
  color: #8795a1;
}

.input-normal::placeholder {
  color: #8795a1;
}

.home-header {
  margin-top: 0px;
  font-family: Merriweather, serif;
  font-size: 45px;
  line-height: 1.3em;
  font-weight: 700;
}

.nav-link {
  margin-right: 20px;
  padding: 28px 10px;
  border-bottom: 2px solid transparent;
  -webkit-transition: color 650ms ease, border-color 200ms ease;
  transition: color 650ms ease, border-color 200ms ease;
  font-family: Muli, sans-serif;
  color: #94a3b1;
  font-size: 14px;
  line-height: 1em;
  font-weight: 400;
}

.nav-link:hover {
  border-bottom: 2px solid #3490dc;
  color: #3490dc;
}

.brand-text {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(.68, -.55, .265, 1.55);
  transition: -webkit-transform 250ms cubic-bezier(.68, -.55, .265, 1.55);
  transition: transform 250ms cubic-bezier(.68, -.55, .265, 1.55);
  transition: transform 250ms cubic-bezier(.68, -.55, .265, 1.55), -webkit-transform 250ms cubic-bezier(.68, -.55, .265, 1.55);
  font-family: Muli, sans-serif;
  font-weight: 700;
}

.brand-text:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.mx-640 {
  display: block;
  width: 640px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.45em;
}

.btn-dark {
  margin-bottom: 0.5em;
  padding-right: 15px;
  padding-left: 15px;
  border: 1px solid #8795a1;
  border-radius: 4px;
  background-color: #22292f;
  -webkit-transition: background-color 650ms ease;
  transition: background-color 650ms ease;
}

.btn-dark:hover {
  background-color: #22292f;
}

.btn-dark.btn-upgrade {
  margin-top: 12px;
  margin-bottom: 12px;
  float: none;
}

.btn-dark.float-right {
  padding-right: 40px;
  padding-left: 40px;
  float: right;
}

.blue-topbar {
  height: 4px;
  background-color: #3490dc;
}

.padding-sides-60 {
  padding: 60px;
}

.mx-left-560 {
  width: 560px;
}

.image {
  border-radius: 50%;
  -webkit-transition: -webkit-transform 650ms ease;
  transition: -webkit-transform 650ms ease;
  transition: transform 650ms ease;
  transition: transform 650ms ease, -webkit-transform 650ms ease;
}

.image:hover {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.article-header {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0em;
  font-family: Merriweather, serif;
  color: #22292f;
  font-size: 19px;
  line-height: 1.45em;
  font-weight: 700;
  text-decoration: none;
}

.page-post-heading {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: Merriweather, serif;
  font-weight: 600;
  text-align: left;
}

.input-select {
  height: 50px;
  border: 1px solid #dae1e7;
  border-radius: 4px;
  background-color: #fff;
  color: #3d4852;
}

.construct_image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.5;
}

.gms_image {
  padding-top: 15px;
  opacity: 0.5;
}

.unity_image {
  padding-top: 10px;
  opacity: 0.5;
}

.godot_image {
  opacity: 0.5;
}

.padding-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.get-post-content {
  margin-bottom: 2em;
  padding: 40px 20px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12);
}

.div-categories {
  max-height: 640px;
  margin-bottom: 1.3em;
  float: none;
  clear: left;
}

.category-name {
  display: inline-block;
  margin-right: 15px;
  clear: none;
  border-bottom: 1px dotted rgba(52, 112, 167, .5);
  color: rgba(52, 112, 167, .75);
  text-decoration: none;
}

.padding-140 {
  padding-top: 140px;
  padding-bottom: 140px;
}

.padding-140.bg-grey-darkest {
  color: #dae1e7;
}

.padding-140.bg-blue {
  background-color: #0075d6;
  color: #f1f5f8;
}

.padding-140.bg-dark-blue {
  background-color: #0075d6;
  color: #f1f5f8;
}

.lesson-name {
  margin-bottom: 0em;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 40px;
  text-align: left;
  list-style-type: none;
}

.lesson-link-inverse {
  -webkit-transition: color 460ms ease;
  transition: color 460ms ease;
  color: #8795a1;
  font-weight: 400;
  text-decoration: none;
}

.lesson-link-inverse:hover {
  color: #3490dc;
}

.card {
  display: block;
  width: auto;
  margin-bottom: 20px;
  padding: 0px;
  border: 1px none #f8fafc;
  border-radius: 6px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2);
}

.card.blue-top {
  border-top-width: 6px;
  border-top-color: #3490dc;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.card.black-top {
  border-top-width: 6px;
  border-top-color: #3d4852;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}

.card-header {
  padding: 28px;
  background-color: #fff;
}

.card-header.bg-white {
  padding: 28px 20px 28px 40px;
  text-align: center;
}

.card-desc {
  padding: 28px;
}

.card-desc.bg-grey-lightest {
  padding-top: 30px;
  padding-bottom: 30px;
}

.card-title {
  margin-top: 0px;
  margin-bottom: 0em;
  float: none;
  font-family: Merriweather, serif;
  color: #3d4852;
  font-weight: 700;
}

.product-header {
  font-family: Merriweather, serif;
  font-size: 54px;
  font-weight: 700;
  text-align: left;
  text-transform: capitalize;
}

.heading-2 {
  font-size: 30px;
  font-weight: 400;
}

.heading-3 {
  font-family: Muli, sans-serif;
}

.mx-640-left {
  display: block;
  width: 780px;
  font-size: 18px;
  line-height: 1.45em;
}

.padding-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.heading-4 {
  margin-top: 0px;
  color: #22292f;
  font-weight: 700;
}

.bullet-desc {
  padding-right: 11px;
  padding-left: 11px;
}

.bullet-text {
  margin-bottom: 5px;
  color: #909090;
}

.bullet-container {
  margin-bottom: 1.2em;
  border-bottom: 1px none #000;
}

.card-title-center {
  margin-top: 0px;
  margin-bottom: 0.5em;
  float: none;
  font-family: Muli, sans-serif;
  color: #3d4852;
  font-weight: 600;
  text-align: center;
}

.card-title-center.developer {
  margin-bottom: 0.5em;
  font-family: Muli, sans-serif;
  color: #3490dc;
}

.inverse-header {
  font-weight: 700;
}

.card-price-text {
  margin-top: 0px;
  margin-bottom: 0em;
  color: #3d4852;
  font-size: 48px;
}

.card-price {
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-price.bg-grey-lighter {
  text-align: center;
}

.btn-light-inverse {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid silver;
  border-radius: 4px;
  background-color: #f8fafc;
  -webkit-transition: border-color 520ms ease;
  transition: border-color 520ms ease;
  color: #3d4852;
  font-weight: 600;
  text-align: center;
}

.btn-light-inverse:hover {
  border-color: #3490dc;
  background-color: #f8fafc;
}

.text-block {
  text-align: center;
}

.article-card {
  margin-bottom: 2em;
  padding: 0px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12);
}

.article-card-header {
  padding: 20px 40px;
}

.article-card-excerpt {
  padding: 10px 40px;
}

.article-card-readmore {
  padding: 20px 40px;
}

.widget-card {
  margin-bottom: 2em;
  padding: 40px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12);
}

.post-avatar {
  border-radius: 50%;
}

.post-date {
  color: #8795a1;
  font-size: 17px;
}

.bold-text {
  color: #22292f;
}

.card-desc-light {
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #fff;
}

.lessons-ul {
  margin-bottom: 0em;
  padding-left: 0px;
}

.card-image {
  background-color: #f1f5f8;
  text-align: center;
}

.article-excerpt {
  margin-bottom: 0em;
}

.purchase-complete {
  font-family: Merriweather, serif;
  color: #cfe9ff;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
}

.box-w-shadow {
  position: relative;
  top: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  border: 1px solid #f1f5f8;
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgba(34, 41, 47, .12);
}

.discount-box {
  padding: 15px;
  border: 1px solid #dae1e7;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(34, 41, 47, .12);
  text-align: center;
}

.link {
  color: #2b8ee0;
  text-decoration: none;
}

.checkout-sub-header {
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: Merriweather, serif;
  font-weight: 700;
  text-decoration: underline;
}

.btn-center {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.btn-order {
  padding: 12px 40px;
  border-radius: 6px;
  background-color: #0075d6;
  box-shadow: 0 4px 10px 0 rgba(0, 99, 182, .49);
  -webkit-transition: box-shadow 500ms ease, -webkit-transform 500ms ease;
  transition: box-shadow 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, box-shadow 500ms ease;
  transition: transform 500ms ease, box-shadow 500ms ease, -webkit-transform 500ms ease;
}

.btn-order:hover {
  box-shadow: 0 13px 35px 0 rgba(0, 99, 182, .49);
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.checkout-image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.form-field {
  width: 100%;
  height: 50px;
  margin-bottom: 1em;
  border: 1px solid #dae1e7;
  border-radius: 6px;
  background-color: #fff;
  color: #22292f;
}

.form-label {
  margin-bottom: 0.5em;
  font-family: Merriweather, serif;
  color: #f1f5f8;
}

.padding-60-no-bottom {
  padding-top: 60px;
  padding-bottom: 60px;
}

.padding-60-no-bottom.bg-grey-lightest {
  padding-top: 20px;
  padding-bottom: 0px;
}

.safety-paragraph {
  color: #b8c2cc;
}

.checkout-safety-header {
  margin-top: 0em;
  margin-bottom: 0.5em;
  font-family: Merriweather, serif;
  color: #8795a1;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
}

.padding-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.padding-40.bg-grey-darkest {
  color: #dae1e7;
}

.padding-40.bg-blue {
  background-color: #3490dc;
  color: #f1f5f8;
}

.priv-header {
  margin-top: 2em;
  margin-bottom: 1em;
  font-family: Merriweather, serif;
  color: #8fa3b6;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
}

.box-w-shadow-norm {
  position: static;
  top: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px;
  border: 1px solid #f1f5f8;
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgba(34, 41, 47, .12);
}

.padding-flex-side {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1280px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.checkout-info {
  width: 60%;
  padding: 80px;
}

.checkout-info.bg-grey-lightest {
  padding: 40px;
}

.purchase-info {
  width: 40%;
  padding: 60px;
}

.purchase-info.bg-blue {
  height: auto;
  background-color: #0075d6;
  color: #f8fafc;
}

.checkout-header {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: Merriweather, serif;
  font-weight: 600;
  text-align: left;
}

.box-w-shadow-norm-copy {
  position: static;
  top: 40px;
  display: block;
  overflow: visible;
  width: 70%;
  margin-bottom: 20px;
  padding: 40px;
  clear: none;
  border-style: none solid solid none;
  border-width: 1px;
  border-color: #f1f5f8;
  border-radius: 0px;
  background-color: #fff;
}

.purchase-info-copy {
  padding: 60px;
}

.purchase-info-copy.bg-blue {
  width: 40%;
  padding: 40px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: #0075d6;
  color: #f8fafc;
}

.product-name {
  margin-top: 0px;
  font-family: Merriweather, serif;
  color: #04264d;
  font-size: 22px;
  line-height: 1.4em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.product-info {
  margin-bottom: 0.5em;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #1484cf;
}

.price-span {
  color: #004077;
  font-size: 30px;
}

.price-span-total {
  color: #dfeefc;
  font-size: 40px;
}

.product-price {
  margin-top: 0px;
  font-family: Merriweather, serif;
  font-size: 20px;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
}

.priv-text {
  color: #769dc3;
  font-size: 17px;
  line-height: 1.4em;
  text-align: left;
}

.discount-box-copy {
  margin-bottom: 0.5em;
  padding: 8px 15px;
  border: 1px none #dae1e7;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}

.discount-open-link {
  color: #d8edff;
}

.checkout-container {
  display: block;
  padding-bottom: 20px;
}

.checkout-container.bg-grey-lightest {
  display: block;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-bottom: 40px;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.flex-container-custom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.edit-cart {
  margin-bottom: 0.5em;
  padding: 20px 15px;
  border: 1px none #dae1e7;
  border-radius: 4px;
  color: #fff;
  text-align: center;
}

.view-cart {
  padding-top: 8px;
  padding-bottom: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 99%, .39);
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: border-color 520ms ease, color 520ms ease;
  transition: border-color 520ms ease, color 520ms ease;
  color: rgba(248, 250, 252, .58);
}

.view-cart:hover {
  border-color: #fcfcfc;
  color: #f8fafc;
}

.cart-header {
  margin-top: 0px;
  margin-bottom: 0.5em;
  font-family: Merriweather, serif;
  color: #3d4852;
  font-size: 34px;
  text-align: center;
  text-decoration: none;
}

.box-w-shadow-cart {
  position: static;
  top: 75px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 40px;
  border: 1px solid #f1f5f8;
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgba(34, 41, 47, .12);
}

.cart-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.cart-flex-container.bg-grey-lightest {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.cart-contents {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.form-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.box-w-shadow-form {
  position: static;
  top: 75px;
  min-height: 100vh;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 40px;
  border: 1px solid #f1f5f8;
  background-color: #fff;
  box-shadow: 0 2px 8px 0 rgba(34, 41, 47, .12);
}

.checkbox-label {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  color: #e9e9e9;
  font-size: 14px;
  line-height: 1.3em;
}

.checkbox {
  margin-top: 13px;
  float: left;
  font-size: 36px;
}

.link-2 {
  color: #fff;
}

.checkbox-field {
  margin-bottom: 12px;
  padding: 10px 40px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 81%, .48);
  border-radius: 4px;
}

.product-header-land {
  margin-top: 0px;
  font-family: Merriweather, serif;
  font-size: 54px;
  font-weight: 700;
  text-align: left;
  text-transform: capitalize;
}

.btn-dark-home {
  margin-top: 0em;
  margin-bottom: 0em;
  padding: 15px;
  border: 1px none #8795a1;
  border-radius: 6px;
  background-color: #22292f;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: -webkit-transform 350ms cubic-bezier(.55, .055, .675, .19);
  transition: -webkit-transform 350ms cubic-bezier(.55, .055, .675, .19);
  transition: transform 350ms cubic-bezier(.55, .055, .675, .19);
  transition: transform 350ms cubic-bezier(.55, .055, .675, .19), -webkit-transform 350ms cubic-bezier(.55, .055, .675, .19);
}

.btn-dark-home:hover {
  background-color: #22292f;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.sub-title {
  margin-bottom: 1.5em;
  font-size: 30px;
  font-weight: 400;
}

.input-normal-home {
  height: 55px;
  margin-top: 0px;
  border: 1px solid #dae1e7;
  border-radius: 4px;
  color: #3d4852;
}

.input-normal-home::-webkit-input-placeholder {
  color: #8795a1;
}

.input-normal-home:-ms-input-placeholder {
  color: #8795a1;
}

.input-normal-home::placeholder {
  color: #8795a1;
}

.landing-headers {
  margin-top: 0px;
  font-weight: 800;
}

.img-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.img-center.img-round {
  border-radius: 50%;
}

.img-round {
  border-radius: 50%;
}

.lesson-list {
  margin-bottom: 0.5em;
  padding-right: 0px;
  padding-left: 0px;
  border-bottom: 1px solid #4d545a;
}

.heading-5 {
  color: #ebebeb;
  font-weight: 700;
}

@media (max-width: 991px) {
  .nav-link {
    background-color: #fff;
  }
  .menu-button.w--open {
    background-color: transparent;
    color: #000;
  }
  .btn-dark.float-right {
    padding-right: 10px;
    padding-left: 10px;
  }
  .padding-100.bg-grey-lighter {
    padding-right: 20px;
    padding-left: 20px;
  }
  .padding-flex-side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .checkout-info.bg-grey-lightest {
    width: auto;
  }
  .purchase-info.bg-blue {
    width: auto;
  }
  .box-w-shadow-norm-copy {
    width: auto;
  }
  .purchase-info-copy.bg-blue {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .checkout-container.bg-grey-lightest {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .flex-container-custom {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .padding-20 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .btn-submit {
    width: 100%;
  }
  .mx-640 {
    width: auto;
  }
  .mx-left-560 {
    width: auto;
  }
  .construct_image {
    padding-top: 10px;
    padding-bottom: 10px;
    float: none;
  }
  .gms_image {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .unity_image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
  }
  .godot_image {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .padding-140.bg-grey-darkest {
    padding-right: 20px;
    padding-left: 20px;
  }
  .padding-140.bg-blue {
    padding-right: 20px;
    padding-left: 20px;
  }
  .padding-140.bg-grey-lightest {
    padding-right: 20px;
    padding-left: 20px;
  }
  .padding-140.bg-white {
    padding-right: 20px;
    padding-left: 20px;
  }
  .padding-140.bg-dark-blue {
    padding-right: 20px;
    padding-left: 20px;
  }
  .mx-640-left {
    width: auto;
  }
  .padding-100.bg-white {
    padding-right: 20px;
    padding-left: 20px;
  }
  .bullet-desc {
    text-align: center;
  }
  .image-holder {
    text-align: center;
  }
  .padding-60-no-bottom.bg-grey-lightest {
    padding-right: 20px;
    padding-left: 20px;
  }
  .purchase-info-copy.bg-blue {
    width: auto;
  }
  .box-w-shadow-form {
    margin-right: 20px;
    margin-left: 20px;
  }
  .product-header-land {
    text-align: center;
  }
  .sub-title {
    text-align: center;
  }
  .landing-headers {
    text-align: center;
  }
}

@media (max-width: 479px) {
  .menu-button {
    display: block;
    float: right;
    text-align: center;
  }
  .brand {
    float: left;
    font-size: 14px;
    text-align: center;
  }
  .btn-dark.float-right {
    float: none;
  }
  .unity_image {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .padding-140.bg-grey-lighter {
    padding-right: 10px;
    padding-left: 10px;
  }
  .box-w-shadow-norm {
    padding-right: 15px;
    padding-left: 15px;
  }
  .checkout-info.bg-grey-lightest {
    padding-right: 8px;
    padding-left: 8px;
  }
  .purchase-info.bg-blue {
    padding-right: 20px;
    padding-left: 20px;
  }
  .box-w-shadow-norm-copy {
    padding-right: 15px;
    padding-left: 15px;
  }
  .purchase-info-copy.bg-blue {
    padding-right: 20px;
    padding-left: 20px;
  }
}

